{% extends "base.html" %}
{% block content %}
    <h1 id="welcome">Welcome to the Bird Quiz!</h1>
    <div id = "form_background" class ="full">
        <h3>Resources:</h3>
        <div id="infodiv">
        	<a href="http://www.allaboutbirds.org" target="_blank">All About Birds</a>
    		<p1 id="info">is a great online field guide!</p1>
    		<br>
    	</div>
    	<div id="infodiv">
    		<a href="https://ebird.org/home" target="_blank">eBird</a>
    		<p1 id="info"> is a citizen science project where users can submit checklists to document where birds are and when they are there.</p1>
    		<br>
    	</div>	
    	<div id="infodiv">
    		<a href="http://www.brooksbirdclub.org/" target="_blank">Brooks Bird Club</a>
    		<p1 id="info">is the bird club I belong to. It's based out of Wheeling, WV.</p1>
    		<br>
    	</div>
    	<div id="infodiv">
    		<a href="http://www.whatbird.com/" target="_blank">WhatBird</a>
    		<p1 id="info">is an online field guide, bird ID program, and birdwatching/photography forum.</p1>
    		<br>
    	</div>
    	<div id="infodiv">
    	    <p1 id="info">Many thanks to Tom Grey at <a href="http://tgreybirds.com/">tgreybirds.com</a> for allowing me to use of some of his photos to expand the species list of the quiz.</p1>
    	</div>
    	
    	
    </div>
{% endblock %}